{% extends "header.html" %}

{% block body %}

<div class="uk-container uk-container-large">

    <nav class="uk-section-secondary uk-navbar uk-preserve-color">
        <div class="uk-navbar-center">
            <div class="uk-button-group">
                <ul class="uk-navbar-nav">
                    <a href="{% url 'core:dashboard' %}">
                        <button class="uk-button uk-button-large uk-button-secondary uk-active">SYSPREPI - Sistema da
                            Associação de Pacientes Renais do Piauí</button>
                    </a>

                    <a href="{% url 'users:profile-detail' %}">
                        <button class="uk-button uk-button-large uk-button-secondary">Meus Dados</button>
                    </a>
                    <a href="{% url 'users:logout' %}">
                        <button class="uk-button uk-button-large uk-button-secondary">Sair da Conta</button>
                    </a>

                </ul>

            </div>
        </div>
    </nav>

    <div class="uk-child-width-1-2@s uk-grid-match uk-margin-xlarge" uk-grid>
    {% for card in cards %}
        <div>
            <div class="uk-card uk-card-primary uk-card-hover uk-card-body">
                <a href="{{ card.url }}">
                    <h3 class="uk-card-title">{{ card.title }}</h3>
                </a>
                <p>{{ card.text }}</p>
            </div>
        </div>
    {% endfor %}
    </div>

</div>

{% endblock %}