{% extends "core/dashboard.html" %}
{% load humanize %}
{% block dashboard_content %}

<div class="uk-child-width-1-1@s uk-container-small uk-margin-auto  uk-margin-xlarge" uk-grid>
    <h4 class="uk-card-title uk-text-center" >Doações para instituição</h4>
    <table class="uk-table uk-table-striped uk-table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Valor</th>
                <th>Forma de Pagamento</th>
                <th>Dia</th>
             
            </tr>
        </thead>

        <tbody>
            {% for obj in object_list %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>R$ {{ obj.donated_value|floatformat:2|intcomma }} </td>
                <td>{{ obj.get_method_display }}</td>
                <td>{{ obj.created_at|date:"d/m/Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4 class="uk-card-title uk-text-center" >Doações para eventos da instituição</h4>
    <table class="uk-table uk-table-striped uk-table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Valor</th>
                <th>Forma de Pagamento</th>
                <th>Evento</th>
                <th>Dia</th>
             
            </tr>
        </thead>

        <tbody>
            {% for obj in event_donation_list %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>R$ {{ obj.donated_value|floatformat:2|intcomma }} </td>
                <td>{{ obj.get_method_display }}</td>
                <td>{{ obj.event.event_name }}</td>
                <td>{{ obj.created_at|date:"d/m/Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock dashboard_content %}
