{% extends "core/dashboard.html" %}
{% load humanize %}
{% load widget_tweaks %}
{% block dashboard_content %}

<div class="uk-child-width-1-1 uk-container-xsmall uk-margin-auto uk-grid-match uk-margin-xlarge" uk-grid>

    <div class="uk-width-1-1@m">
        <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
            <h4 class="uk-card-title uk-text-center">{{ form_title }}</h4>
            
            <form method="post" action="{{ action_url }}">
                {% csrf_token %}
                <div class="uk-margin">
                    <label class="uk-label uk-label-primary uk-margin-small-bottom">Valor da doação</label>
                    <div class="uk-inline uk-width-1-1">
                        {{ form.donated_value|add_class:"uk-input uk-form-large"|attr:"placeholder:R$" }}
                    </div>
                </div>

                {% if is_event %}
                <div class="uk-margin">
                    <label class="uk-label uk-label-primary uk-margin-small-bottom">Evento</label>
                    <div class="uk-inline uk-width-1-1">
                        {{ form.event|add_class:"uk-select uk-form-large" }}
                    </div>
                </div>
                {% endif %}
                
                <div class="uk-margin">
                    <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Continuar</button>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock dashboard_content %}
