{% extends "header.html" %}
{% block body %}

<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
        <div class="uk-container">
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                <div class="uk-width-1-1@m">
                    <div
                        class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                        <h4 class="uk-card-title uk-text-center">{% block form_title %}Título{% endblock form_title %}</h4>
                        {% block form_container %}


                        {% endblock form_container %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}