<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Sysprepi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <!-- Custom CSS -->

    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/css/uikit.min.css" />
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/js/uikit-icons.min.js"></script>
    <script src="https://kit.fontawesome.com/4855453886.js" crossorigin="anonymous"></script>
    
</head>

<body>
    
    {% if messages %}
        {% for message in messages %}
            
            <div class="{% if message.tags %}uk-alert-{{ message.tags }}{% endif %}" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    {% block body %}
    {% endblock %}
</body>
</html>